/*
 * Remove template code below
 */
:host {
  font-family: sans-serif;
  min-width: 100%;
  margin: 0px auto;

  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
  align-content: stretch;
  

  > * {
    margin: 0 0.5rem;
    
    &:nth-child(1) {
      min-width: 30vw;
      width: 30vw;
    }
    
    &:nth-child(2) {
      // width: 70vw;
    }
  }
  ngnz-pdf-flip {
    width: 70vw;
  }
  
  ul {
    margin: 0;
    padding:0;

    li {
      display: block;
      padding: 0.2rem 0.5rem;

      a {
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }

}
